{% load i18n static %}<!DOCTYPE html>
<html>
<head>
    <title>Hexagon Dashboard</title>
     {% load staticfiles %}
    <link href="{% static 'css/layout.css' %}" rel="stylesheet">    
    <link href="{% static 'css/menu.css' %}" rel="stylesheet">    
    
    <link href="{% static 'css/dash.css' %}" rel="stylesheet">    
    <script type="text/javascript" src="{% static 'js/jquery-1.9.1.js' %}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <script type="text/javascript">
        var liNum;
        $(function () {
            var h = $(window).height();
            $("#show").css("height", h);
            //var listC = "";
            //listC = {{ List|safe}};
            //var lc = listC.responseText.split('\r\n');
            lc = {{List|safe}}
            
            for (var i = 0; i < lc.length; i++) {
                if (lc[i] == 'produced')
                {
                    $("#nav").append("<li onclick="+'cutlist("produced")'+"><a onclick='active(this)' href='#'>" + "生产制造" + "</a></li>");
                }
                if (lc[i] == 'plans')
                {
                    $("#nav").append("<li onclick="+'cutlist("plans")'+"><a onclick='active(this)' href='#'>" + "配置缺件" + "</a></li>");
                }
                if (lc[i] == 'report')
                {
                    $("#nav").append("<li onclick="+'cutlist("report")'+"><a onclick='active(this)' href='#'>" + "报工平台" + "</a></li>");
                }
                if (lc[i] == 'reporAnalysis')
                {
                    $("#nav").append("<li onclick="+'cutlist("reporAnalysis")'+"><a onclick='active(this)' href='#'>" + "数据分析" + "</a></li>");
                }
               //$("#nav").append("<li onclick='cutlist(this)'><a  href='#'>" + lc[i] + "</a></li>");
            }; 

            

            '{% if admin == "Admin" %}'
            //var jadmin = '{{admin|safe}}'
            $("#nav").append("<li onclick="+'cutlist("Admin")'+"><a onclick='active(this)' href='#'>"+"管理页面"+"</a></li>");
            '{% endif %}'

            '{% if update == "update" %}'
            $("#nav").append("<li onclick="+'cutlist("update")'+"><a onclick='active(this)' href='#'>"+"更新数据"+"</a></li>");
            '{% endif %}'
            
            '{% if log == "log" %}'
            $("#nav").append("<li onclick="+'cutlist("log")'+"><a onclick='active(this)' href='#'>"+"追溯记录"+"</a></li>");
            '{% endif %}'

            $("#nav").append("<li onclick='cutlist(this)'><a  href='logout/'>注销</a></li>");
            
     
            liNum = $('#nav').find('li').length;
            //document.write(lc)
            change(lc);
            time();

            //显示日期时间
            var t = null;
            //t = setTimeout(time, 1000);//开始执行
            function time() {
                clearTimeout(t);//清除定时器
                var today = new Date();//定义日期对象     
                var yyyy = today.getFullYear();//通过日期对象的getFullYear()方法返回年      
                var MM = today.getMonth() + 1;//通过日期对象的getMonth()方法返回年      
                var dd = today.getDate();//通过日期对象的getDate()方法返回年       
                var hh = today.getHours();//通过日期对象的getHours方法返回小时     
                var mm = today.getMinutes();//通过日期对象的getMinutes方法返回分钟     
                var ss = today.getSeconds();//通过日期对象的getSeconds方法返回秒  
                document.getElementById("user").innerHTML =  '你好 '+'{{user.last_name}}{{user.first_name}}';//yyyy + "年" + MM + "月" + dd + "日" + hh + "时" + mm + "分" ; 
                document.getElementById('date').innerHTML = '当前时间: ' + yyyy + "年" + MM + "月" + dd + "日" ; 
                document.getElementById('time').innerHTML = hh + "时" + mm + "分" + ss +'秒';
                t = setTimeout(time, 1000); //设定定时器，循环执行            
            }
        });

        var falg = 0;
        var i = 0;
        function change(lc) {
            var allA = $('#nav').find("a")
            allA[0].style.background='orange';
            if(falg==0)
            {
                var j = 0;
                $('#nav').find('li').each(function () {
                    if (j == i)
                    { cutlist(lc[0]); }

                    j++;
                    if (j == liNum)
                    { j = 0 }
                })
                i++;
                if (i == liNum)
                { i = 0; }
            } 
            //$('#nav').find('li').each(cutlist('produced'))
            //setTimeout("change()", 300000);
        } 

        function changeflag()
        {            
            if (falg == 0)
            { setInterval("falg=0;", 100000); }
            //falg = 1;
        }
        function cutlist(lihtml) {

            $("#show").attr("src", lihtml);
           
            
        }
        function active(tag){
            //$("#nav :a").children().style.background='white';
            var allA = $('#nav').find("a")
            for(i=0;i<allA.length;i++){
                allA[i].style.background='#0e697e';
            }
            tag.style.background='orange';
        }
    </script>
	<style>
    .active {background:red}
	{% comment %} #nav,#nav ul {
		background-color: #27727b;
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}
	#nav ul {
		padding: 0px;
	}
	#nav {
		width: 96%;
	}
	#nav li a {
		background-color: #0e697e;
		border-color: #0a6175 #0197ba #1f778b #0e697e;
		border-style: solid;
		border-width: 1px;
		color: #fff;
		display: block;
		font-size: 15px;
		padding: 10px 0px 10px 6px;
		text-decoration: none;
		width:100%;
	}
	.container{
		width:10%;
		min-height:1000px;
		float:left;
		font-size:large;
		box-shadow: 4px 0px 6px #a9aaaa;
		background: url(../images/left_bg.jpg) no-repeat #0197ba;	
	}{% endcomment %}
    .date {
        margin-bottom:1px;
        color:white;
        font-size:medium;
        position:fixed;
        bottom:10px;
        left:1px;    
    } 
	</style>
</head>
<body onclick="changeflag()">
    <div>
        <div class="container">
			<image src="/static/image/logo.png" style="margin:10px;" />
            <ul id="nav"></ul>
            <div id="info" class="date">
			<h3></h3>
           
                <p id="user"></p>
                <p id='date'></p>
                <p id='time'></p>
            
            </div>
        </div>
        <iframe id="show" class="showop" src="" style="float:left;width:90%;border:none;"></iframe>
    </div>

    <script type="text/javascript">

    </script>
</body>
</html>
