{% load staticfiles %}

<script src="{% static 'js/jquery-1.9.1.js' %}"></script> 

<script src="{% static 'js/jquery.tablesorter.js' %}"></script> 

<link rel="stylesheet" href="{% static 'css/nav.css' %}">

<script>
    window.onload = function(){
        //Sort table
        $(function() {
                // call the tablesorter plugin
            $("table").tablesorter({
                theme : 'blue',

                dateFormat : "mmddyyyy", // set the default date format

                // or to change the format for specific columns, add the dateFormat to the headers option:
                headers: {
                0: { sorter: "shortDate" } //, dateFormat will parsed as the default above
                // 1: { sorter: "shortDate", dateFormat: "ddmmyyyy" }, // set day first format; set using class names
                // 2: { sorter: "shortDate", dateFormat: "yyyymmdd" }  // set year first format; set using data attributes (jQuery data)
                }

            });
            });
        var navLi = $('#logNav li');
        var navDiv = $('#content > div');

        
        for(i=0;i<navLi.length;i++){
            navLi[i].index=i;
            navLi[i].onclick=function(){
                for(j=0;j<navLi.length;j++){
                    navLi[j].style.background='#6AC1F7';
                    navDiv[j].style.display='none';
                }
                this.style.background='orange';
                navDiv[this.index].style.display='block';
                
            }
        }
        
    }
    // Filter data
    $(function () {
        $("#filterName").keyup(function () {
        $("table tbody tr").stop().hide() //将tbody中的tr都隐藏
            .filter(":contains('"+($(this).val())+"')").show(); //，将符合条件的筛选出来
        });
     });
</script>

<style type="text/css">
     #main_content li
    {
     display:inline;
     list-style-type:none;
     background-color:#6AC1F7;
     padding:10px;
     border-radius:5px 5px 0px 0px;
     color:#292A0A;
     font-weight:bold;
     cursor:pointer;
    }
    #main_content li.notselected
    {
     background-color:None;
     color:#292A0A; 
    }
</style>>
<div id='main_content'>
    <br/>
    <div id='logNav'>
        <li class='notselected' style='background:orange'>提交记录</li>
        <li class='notselected'>系统日志</li>
    </div>
    
    <div id='content'>
        <div style='display:block'>
            <h2>提交记录</h2>
            <span>筛选：</span><input type="text" id="filterName">
            <table border=1>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Action</th>
                        <th>Details</th>
                        <th>Comments</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in trace_log %}
                        <tr>
                            <td>{{i.username}}</td>
                            <td>{{i.action_log}}</td>
                            <td>{{i.detail_message}}</td>
                            <td>{{i.comments}}</td>
                            <td>{{i.date}}</td>
                        </tr>
                    
                    {% endfor %}
                <tbody>
            </table>
        </div>
        <div style='display:none'>
            <h3>日志记录</h3>
        
            
            <br/>
            <table border=1>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Action</th>
                            <th>Changed</th>
                            <th>URL</th>
                            <th>Details</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in messages %}
                            <tr>
                                <td>{{i.user}}</td>
                                <td>{{i.action}}</td>
                                <td>{{i.chgd_user}}</td>
                                <td>{{i.url}}</td>
                                <td>{{i.details}}</td>
                                <td>{{i.time}}</td>
                            </tr>
                        {% endfor %}
                    <tbody>
                </table>
        </div>
    </div>
</div>