<html>
    <head>
        <meta charset="utf-8" />
        {% load staticfiles %}
        <link href="{% static 'css/nav.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'js/jquery-1.9.1.js' %}"></script>
        <meta http-equiv="refresh" content="3600">
        <script type="text/javascript" src="{% static 'js/navTab.js' %}"></script>
        <style>
           
        </style>
        <script> 
            $(document).ready(function(){
                swithTab();
            })
            

        </script>
        <script>
            $(function(){
                $("#first").load("Installed_CMM"); 
            });
            $(function(){
                $('#second').load('Delivered_CMM');
            });

            $(function(){
                $('#third').load('New_order');
            });
            $(function(){
                $('#fourth').load('Installed_each_year');
            });
            $(function(){
                $('#fifth').load('Installed_each_year_bar');
            });
            $(function(){
                $('#sixth').load("Waiting_Order_and_Inventory");
            });
        </script>
        <style type="text/css">
            body {
                padding-top:20px; 
            }
        </style>
    </head>
    <body>
        <div id='navTabContainer'>
            {% if  request|filter_is_manager or request|filter_is_sczz_manager%}
                <li class='notselected' id='liSchedule' style='background:orange'>生产计划</li>
                <li class='notselected' id='liQbz' >发货缺件</li>
            {% endif %}
            {% if request|filter_is_foreman %}
                <li class='notselected' id='tiaozheng'>生产任务变更</li>
            
            {% endif %}
        </div>
        <div id='bodyContainer'>
            <!-- 生产计划 -->
            {% if  request|filter_is_manager or request|filter_is_sczz_manager %}
                <div id='nvaSection'>

                    <div id='first' style="width:83%;height:600px">
                    
                    </div>

                    <div id='second' style="width:'83%';height:600px">

                    </div>
                    <div id='third' style="width:'83%';height:600px">

                    </div>

                    <div id='fourth' style="width:'83%';height:600px">

                    </div>
                    <div id='fifth' style="width:'83%';height:600px">

                    </div>
                    <div id='sixth' style="width:'83%';height:600px">

                    </div>
                    
                </div>

                 <!-- 发货缺件 -->
                <div style='display:none'>
                    <br/>
                    <iframe style="width: 100%;height: 100%" frameBorder="0" id='iQbz'></iframe>
                     <script type="text/javascript">
                        $('#liQbz').click(function(){
                            // url='/smallpart/sfmchart/';
                            // newwindow=window.open(url,'_blank');
                            // if (window.focus) {newwindow.focus()}
                            // $('#dTiaozheng').load('http://www.baidu.com');
                            $("#iQbz").attr("src", "/op/dashboard/plans/");
                            

                        })
                    </script>
                </div>
            {% endif %}
            {% if request|filter_is_foreman %}
                <!-- 生产任务变更 -->
                <div style='display:none'>
                    <br/>

                    <script type="text/javascript">
                        
                        $(function(){
                            $('#d_tiaozheng').load("/smallpart/sfmchart/");
                        });
                    </script>
                    <div id = "d_tiaozheng" style="width:'83%';height:600px">
                        
                    </div>
                    
                </div>
                
            {% endif %}

        </div>


    </body>

</html>