<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/static/valuehour/production/images/favicon.ico" type="image/ico" />

    <title>{% block title %}价值工时-默认标题{% endblock %}</title>
    {% include "jzgs/header.html" %}
        <!-- page content -->
        {% block content %}
        <div class="right_col" role="main">
            <iframe id="show" class="showop" src="/jzgs/" style="float:left;width:100%;height:1000px;border:none;"></iframe>
        </div>
        
        {% endblock %}
        <!-- /page content -->

        <!-- footer content -->
    {% include 'jzgs/footer.html' %}
        <!-- /footer content -->
      </div>
    </div>
    {% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            // layer.load(1, {
            //     shade:[0.9,'#fff'],
            //     icon: 0,
            //     content:"系统升级中, 暂无法进行填报...",
                
            // });
            var index = layer.load(2, {
                shade: [0.5,'#fff'],
                icon: 0,
                content:"玩命加载中...",
            });
            //alert("yest");
            var a  = $("#menu_section_id li").find("li");
            for(i=0;i<a.length;i++){
                a[i].innerHTML = "<a onclick='changePage("+'"'+a[i].id+'"'+")'>"+a[i].innerText+"</a>";
            }
            var logout = $("#logout").click(function(){
                window.location.replace("/op/dashboard/logout/");
            });
            
            $("#show").load(function(){
                layer.close(index);
            })
        });

        function changePage(data){
            var index = layer.load(2, {
                shade: [0.5,'#fff'],
                icon: 0,
                content:"玩命加载中...",
            });
            // var index = layer.msg('玩命加载中');
            $("#show").attr("src", data);
            $("#show").load(function(){
                layer.close(index);
            })
            
            // alert(data)
        }

    </script>
    <!-- jQuery -->
    <script src="/static/valuehour/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/valuehour/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/valuehour/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/valuehour/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/static/valuehour/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/static/valuehour/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/static/valuehour/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/static/valuehour/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/static/valuehour/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/static/valuehour/vendors/Flot/jquery.flot.js"></script>
    <script src="/static/valuehour/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/static/valuehour/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/static/valuehour/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/static/valuehour/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/static/valuehour/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/static/valuehour/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/static/valuehour/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/static/valuehour/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/static/valuehour/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/valuehour/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/valuehour/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/static/valuehour/vendors/moment/min/moment.min.js"></script>
    <script src="/static/valuehour/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Datatables -->
    <script src="/static/valuehour/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/valuehour/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/valuehour/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/valuehour/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="/static/js/Calendar.js"></script>
    <script src="/static/js/jquery.tablesorter.js"></script>
    <script src="/static/js/jquery.floatThead.js"></script>
    <script src="/static/valuehour/vendors/layer/layer.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/static/valuehour/build/js/custom.min.js"></script>
    <script type="text/javascript">console.log(localStorage.getItem("sidebar"));</script>
    {% endblock %}	
</body>
</html>
