{% load staticfiles %}

<script src="{% static 'js/Calendar.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script> 

<script src="{% static 'js/jquery.tablesorter.js' %}"></script> 
<link href="{% static 'css/table.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.floatThead.js' %}"></script>
<script>
	  //show qty that is not 1 in schedule module
    function showQty(data,id){
        //document.getElementById(id).style.display = "block";
        document.getElementById(id).innerHTML = data;
        document.getElementById(id).style.background = 'orange';
        //console.log(data);
        
    }

    function hideQty(data,id){
        //document.getElementById(id).style.display = "none";
        //window.alert=function(){};
        document.getElementById(id).innerHTML = data.toString();
        document.getElementById(id).style.background = 'yellow';
    }
 

    // schedule
    function support_time_log(){
        document.forms[0].action = '/report/getScheduleTable/';
        
    }
    // performance check

    // search doc info by date

    //save classified document 


    // filter schedule keywords
    $(function () {
        $("#filterName").keyup(function () {
        $("#tblNeedsScrolling tbody tr").hide() //将tbody中的tr都隐藏
            .filter(":contains('"+($(this).val())+"')").show();
            $("#tblNeedsScrolling tbody tr td").css("color","black");

            if($("#filterName").val() !=' ' && $("#filterName").val() != ''){
                $("#tblNeedsScrolling tbody tr td").filter(":contains('"+($(this).val())+"')").css( "color", "orange" ); //，将符合条件的筛选出来
                $("#tblNeedsScrolling tbody tr td").filter(":not(:contains('"+($(this).val())+"'))").css( "color", "black" );
            }
           
        });
        
     });



    // get all parameters from view
    // var p_date='{{p_date}}';
    // var p_save_status = '{{p_save_status}}';
    // var tab='{{tab}}';
    // var activeLi = '{{li}}';
    //get schedule data
    var data2_date = '{{data2_date|safe}}';
    var sche_date = $.parseJSON(data2_date);
    var data2_users = '{{data2_users|safe}}';
    var sche_users = $.parseJSON(data2_users);
    var data2_qty = '{{data2_qty|safe}}';
    var sche_qty = $.parseJSON(data2_qty);
    // var op_list = '{{op_list|safe}}';
    var op_list =[];
    '{% for i in op_list %}'
        op_list.push('{{i.op_name}}');
    '{% endfor %}'

    var sfg_list = '{{sfg_list|safe}}';
    var sfg_list = $.parseJSON(sfg_list);
    var sfg_list_length = Object.keys(sfg_list["sfg_id"])['length']
    var sfgs = '{{sfgs|safe}}';

    // form schedule data
    var sfgall = []
    if(sfgs){
        for(i=0;i<sfg_list_length;i++){

            var sfg_items = {};
            sfg_items['sfg_id']=sfg_list['sfg_id'][i]
            if(sfg_list['comments'][i]==null){
                sfg_items['sfg_comments']='N';
            }else{
                sfg_items['sfg_comments']=sfg_list['comments'][i];
            }
            sfg_items['type_name']=sfg_list['type_name'][i];
            for(k=0;k<op_list.length;k++){
                try{
                    sfg_items[k+10]=sche_users[op_list[k]][sfg_items['sfg_id']];
                    sfg_items[k+100]=sche_date[op_list[k]][sfg_items['sfg_id']];
                    sfg_items[k+1000]=sche_qty[op_list[k]][sfg_items['sfg_id']];
                }
                catch(err){
                    sfg_items[k+10]='---';
                    sfg_items[k+100]='---';
                    sfg_items[k+1000]=0;
                }
            }
            sfgall.push(sfg_items);
        };

        var data=sfgall;
        for(j=0;j<10;j++){
        var a = {};
        
            for(i=0;i<Object.keys(data)['length']-3;i++){
                
                a[Object.keys(data[0])[i]]='---';
                a['sfg_id']='---';
                a['type_name']='---';
                a['sfg_comments']='---';
                
            };
            data.push(a);
        };
    }

    


    //var produce_log = new Array();
    
    window.onload = function (){
        //Show and hide li 

        //scrolify($('#performance_table'), 650);
        

        // sort tables date
        
        $(function() {
                // call the tablesorter plugin
            $("table").tablesorter({
                theme : 'blue',

                dateFormat : "yyyymmdd", // set the default date format

                // or to change the format for specific columns, add the dateFormat to the headers option:
                headers: {
                0: { sorter: "shortDate" } //, dateFormat will parsed as the default above
                // 1: { sorter: "shortDate", dateFormat: "ddmmyyyy" }, // set day first format; set using class names
                // 2: { sorter: "shortDate", dateFormat: "yyyymmdd" }  // set year first format; set using data attributes (jQuery data)
                }

            });
        });

            //form schedule table
        if(data){
            for(i=0;i<data.length;i++){
            var allRows = '';
            if(data[i]['sfg_id'] != '---'){

            
                allRows += '<tr><td>'+data[i]['sfg_id']+'</td><td>'+data[i]['type_name']+'</td>'+'<td>'+data[i]['sfg_comments']+'</td>';
            }
            else{
                allRows += '<tr><td contenteditable="true">'+data[i]['sfg_id']+'</td><td contenteditable="true">'+data[i]['type_name']+'</td>'+'<td contenteditable="true">'+data[i]['sfg_comments']+'</td>';
            }
            for(j=0;j<(Object.keys(data[0])['length']-3)/3;j++){
                if(data[i][j+1000]>=1){
                    allRows +='<td  style="background:#00EC00">'+data[i][j+10]+'</td>';
                    allRows +='<td  style="background:#00EC00">'+data[i][j+100]+'</td>';
                }
                else if(data[i][j+10]=='---'){
                    allRows +='<td contenteditable="true">'+data[i][j+10]+'</td>';
                    allRows +='<td contenteditable="true">'+data[i][j+100]+'</td>';
                }
                else{
                    ///// old data
                    //allRows +='<td style="background:yellow">'+data[i][j+10]+'</td>';
                    var user = "'"+data[i][j+10]+"'";
                    allRows += '<td  id="'+(i*100000+j)+'" style="background:yellow" onmouseover="showQty('+data[i][j+1000]+','+(i*100000+j)+
                        ')" onmouseout="hideQty('+user.toString()+ ','+(i*100000+j)+
                        ')">'+data[i][j+10]+'</td>';
                    ////new 
                    allRows +='<td  style="background:yellow"> '+data[i][j+100]+'</td>';
                }
                
            }
            allRows += '</tr>';
            $('#tblNeedsScrolling tbody ').append(allRows);
            //console.log(i);
       
            
            } 
        }
        //alert(allRows);
        //});
        $("#tblNeedsScrolling tbody tr td:nth-child(3)").click(function(){

            var comments = $(this).parent('tr').find('td').eq(2).html();
            if(comments != '---'){

              
                var sfg = $(this).parent('tr').find('td').eq(0).html();
                
                url = '/report/get_sfg_comments/?sfg='+sfg
                newwindow=window.open(url,'windowName','height=590,width=1000,top=100, left=200');
                if (window.focus) {newwindow.focus()}
            //if(newwindow){data.submit();}
                
                //var b = $("#b").val();
            } 
            
        });


      
        var html = "<html><head><meta charset='utf-8' /></head><body>" + document.getElementById("tblNeedsScrolling").outerHTML + "</body></html>";
                    // 实例化一个Blob对象，其构造函数的第一个参数是包含文件内容的数组，第二个参数是包含文件类型属性的对象
                    var blob = new Blob([html], { type: "application/vnd.ms-excel" });
                    var a = document.getElementsByTagName("a")[0];
                    // 利用URL.createObjectURL()方法为a元素生成blob URL
                    a.href = URL.createObjectURL(blob);
                    // 设置文件名
                    a.download = "生产进度.xls";
    }
    // end of window.onload 




    // // export Schedule table to excel
    // function exportSchedule(){
    //       //download excel
    //     {% comment %} var html = "<html><head><meta charset='utf-8' /></head><body>" + document.getElementById("tblNeedsScrolling").outerHTML + "</body></html>";
    //                 // 实例化一个Blob对象，其构造函数的第一个参数是包含文件内容的数组，第二个参数是包含文件类型属性的对象
    //                 var blob = new Blob([html], { type: "application/vnd.ms-excel" });
    //                 var a = document.getElementsByTagName("a")[0];
    //                 // 利用URL.createObjectURL()方法为a元素生成blob URL
    //                 a.href = URL.createObjectURL(blob);
    //                 // 设置文件名
    //                 a.download = "生产进度.xls"; {% endcomment %}

    //     var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
    //     var textRange; var j=0;
    //     tab = document.getElementById('tblNeedsScrolling'); // id of table

    //     for(j = 0 ; j < tab.rows.length ; j++) 
    //     {     
    //         tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
    //         //tab_text=tab_text+"</tr>";
    //     }

    //     tab_text=tab_text+"</table>";
    //     tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
    //     tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
    //     tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

    //     var ua = window.navigator.userAgent;
    //     var msie = ua.indexOf("MSIE "); 

    //     if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
    //     {
    //         txtArea1.document.open("txt/html","replace");
    //         txtArea1.document.write(tab_text);
    //         txtArea1.document.close();
    //         txtArea1.focus(); 
    //         sa=txtArea1.document.execCommand("SaveAs",true,"生产进度.xls");
    //     }  
    //     else                 //other browser not tested on IE 11
    //         sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  

    //     return (sa);
    // }

    // Freeze the header of table
    
    $('body').on('mousewheel',function(){
        //alert('wheel moved')
        // floate schedule table
        var $table = $('#tblNeedsScrolling');
        $table.floatThead({
            scrollContainer: function($table){
                return $table.closest('.wrapper');
            }
        });

        

       
    });

    $(document).ready(function(){
        $("#schedule_date_p").html('<strong>开始日期: </strong><u><span style="color:coral">'+'{{from_date}}'+'</u></span>, <strong>结束日期: </strong><u><span style="color:coral">'
        +'{{to_date}}'+'</span></u>');
        //$("#schedule_to_date_p").html('结束日期'+'{{to_date}}');
    })

    

</script>
<style>
    #main_content
    {
     margin-top:20px;
     width:100%;
     
    }
    .submit
    {
        background:green;
    }
    #main_content li
    {
     display:inline;
     list-style-type:none;
     background-color:#6AC1F7;
     padding:10px;
     border-radius:5px 5px 0px 0px;
     color:#292A0A;
     font-weight:bold;
     cursor:pointer;
    }
    .parent{
        background: #6AC1F7;
    }

    .row1{
        background:white;
    }
    .row2{
        background:lightgray;
    }
    #main_content li.notselected
    {
     background-color:None;
     color:#292A0A; 
    }
    .active 
    {
     display:inline;
     list-style-type:none;
     background-color:orange;
     padding:10px;
     border-radius:5px 5px 0px 0px;
     color:#292A0A;
     font-weight:bold;
     cursor:pointer;
    }
    #tblNeedsScrolling tbody td{
        max_length:150px;
       word-wrap:break-word; 
    }
    .tableHead
    {
        cursor:pointer;
    }
    table thead th{
        background: #79aec8;
    }
    {% comment %}   
    table thead tr{
        display:block;
    }

    table td{
        width:150px;//fixed width
    } 
    

    table  tbody{
    display:block;
    height:760px;
    overflow:auto;//set tbody to auto
    } 
    table {
        table-layout: fixed;
    }  {% endcomment %}
    
</style>

 <!-- 生产状态 -->
        <div id = 'dSchedule'  width=100% >
            <h1>生产状态</h1>

            {% if message %}
                {{message}}
            {% endif %}
            <br/>
             

            <div style='position:relative;left:30%;text-align:center;align:center;width:100%'>
                <br/>
                <fieldset style = 'width:600px'>
                    <legend>查询</legend>
                    <form onsubmit='support_time_log()' action="/report/getScheduleTable/" method="post" >
                            {% csrf_token %}
                            <p>开始日期: <input id='schedule_from_date' name='schedule_from_date' type="text" onclick="fPopCalendar(event,this,this)" value = '' readonly="readonly" > 
                            &nbsp&nbsp
                            结束日期: <input id='schedule_to_date' name='schedule_to_date' type="text" onclick="fPopCalendar(event,this,this)" value = '' readonly="readonly" > 
                            &nbsp&nbsp
                            <input type='submit' value='查询'></p>
                            <input type="hidden" name="tab" value="dSchedule">
                            <input type="hidden" name="li" value="liSchedule">
                            </p>
                            <span>数据筛选：</span><input type="text" id="filterName">
                            
                    </form>
                </fieldset>
            </div>
            
            <div style="align:center;text-align:center;position:relative;" >
                <br/><br/>
                <label style='background:#00EC00'>&nbsp&nbsp&nbsp&nbsp    </label>&nbsp&nbsp<label >全部完成</label>&nbsp&nbsp&nbsp&nbsp
                <label style='background:yellow'>&nbsp&nbsp&nbsp&nbsp      </label>&nbsp&nbsp<label>部分完成</label>&nbsp&nbsp&nbsp&nbsp
                <a>导出表格</a>
                &nbsp&nbsp&nbsp&nbsp
                <p id="schedule_date_p"></p>
                
                <br/>
                <table id='tblNeedsScrolling' border=1 cellspacing=0.1 style='text-align:center;font-size:14px;align:center;width:100%'> 
                
                    <thead>
                        <tr class = 'parent' style='text-align:center;font-size:14px'>
                            <th class = 'tableHead'  >SFG</th>
                            <th class = 'tableHead'  >机型</th>
                            <th class = 'tableHead'  >备注</th>
                            {% for i in op_list  %}
                                <th  colspan='2' >{{i}}</th>

                            {% endfor %}
                            
                    
                        </tr>
                    
                        <tr class = 'parent'>
                            <td >SFG</td>
                            <td>机型</td>
                            <td>备注</td>
                            
                            {% for i in op_list  %}
                                <td class = 'tableHead' >员工</td>
                                <td class = 'tableHead'  >日期</td>
                                

                            {% endfor %}
                            
                        </thead>
                        <tbody id='schedule_tbody'>

                        </tr>

                            
                        
                        </tr>
                    </tbody>
                        
                </table>
                
            </div>

        </div>
