{% load staticfiles %}

<script src="{% static 'js/Calendar.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script> 

<script src="{% static 'js/jquery.tablesorter.js' %}"></script> 
<link href="{% static 'css/table.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.floatThead.js' %}"></script>
<script>

    var today = new Date();
    var today_year = today.getFullYear();



    // filter schedule keywords
    $(function () {
        $("#filterName").keyup(function () {
        $("#tblNeedsScrolling tbody tr").hide() //将tbody中的tr都隐藏
            .filter(":contains('"+($(this).val())+"')").show();
            $("#tblNeedsScrolling tbody tr td").css("color","black");

            if($("#filterName").val() !=' ' && $("#filterName").val() != ''){
                $("#tblNeedsScrolling tbody tr td").filter(":contains('"+($(this).val())+"')").css( "color", "orange" ); //，将符合条件的筛选出来
                $("#tblNeedsScrolling tbody tr td").filter(":not(:contains('"+($(this).val())+"'))").css( "color", "black" );
            }
           
        });
        
     });

     $(function () {
        $("#filterName1").keyup(function () {
        $("#performance_table tbody tr").stop().hide() //将tbody中的tr都隐藏
            .filter(":contains('"+($(this).val())+"')").show(); //，将符合条件的筛选出来
        });
     });

    // save performance data
    function save_all_perform(){
        var cd_time=6;
        if(p_save_status=='No'){
            var rows = document.getElementById("performance_table").rows;
            //alert(rows.length);
            //var row = rows[1];
            //alert(row);
            //var length = row.cells.length;
            //alert(length);
            var cell_check=$(".is_checked")
            for(j=1;j<rows.length;j++){

            
                    row = rows[j]
                    if (cell_check[j-1].checked){
                        
                        
                        var user = row.cells[1].innerText;
                        var natural_time = row.cells[2].innerText;
                        var perfom = row.cells[3].innerText;
                        var standard = row.cells[4].innerText;
                        var real = row.cells[5].innerText;
                        var support = row.cells[6].innerText;
                        var borrow = row.cells[7].innerText;
                        var kpi = row.cells[8].innerText;
                        var efficiency = row.cells[9].innerText;
                        var date = row.cells[10].innerText;
                        var username = row.cells[11].innerText;
                        var group = row.cells[12].innerText;
                        var work_group = row.cells[13].innerText;
                        var validate = row.cells[14].innerText;
                        $.get("/report/save_indiv_perform/",{'user':user,'natural_time':natural_time,'perfom':perfom,'standard':standard,
                        'real':real,'support':support,'borrow':borrow,'kpi':kpi,'efficiency':efficiency,'date':date,'username':username,
                        'group':group,'work_group':work_group,'validate':validate}, function(ret){
                            if(ret.includes('失败')){
                                //alert(ret);
                                $('#p_save_message').append('<span style="color:red">'+rFet+', </span>')
                            }else{
                                $('#p_save_message').append('<span>'+ret+', </span>')
                            }
                    
                        
                   
                    //var result = ret;fFf
                    //validateQty(ret);
                        })
                }
                if(j==rows.length -1){
                       var timer = setInterval( function() {

                            cd_time--;

                            
                            $('#cd_time').html(cd_time+'秒后刷新页面！');
                            if (cd_time == 0) {

                                location.reload();
                                clearInterval(timer);
                            } 


                            }, 1000 );
                            
                        }    
                //document.getElementById("p_save_message").innerHTML='保存成功';
                {% comment %} var time = 5;
                setInterval( function() {

                    time--;

                    $('#cd_time').html(time+'秒后刷新页面！');``

                    if (time == 0) {

                        location.reload();
                    }    


                    }, 1000 ); {% endcomment %}
            //location.reload();    
            }
        }else{
            alert('当天记录已经保存，请勿重复保存！')
        }
        
        
        
        
    }

    // get all parameters from view
    var p_date='{{p_date}}';
    var p_save_status = '{{p_save_status}}';
    var tab='{{tab}}';
    var activeLi = '{{li}}';
    //get schedule data
    var data2_date = '{{data2_date|safe}}';
    var sche_date = $.parseJSON(data2_date);
    var data2_users = '{{data2_users|safe}}';
    var sche_users = $.parseJSON(data2_users);
    var data2_qty = '{{data2_qty|safe}}';
    var sche_qty = $.parseJSON(data2_qty);
    // var op_list = '{{op_list|safe}}';
    // var op_list =[];
    // '{% for i in op_list %}'
    //     op_list.push('{{i.op_name}}');
    // '{% endfor %}'

    // var sfg_list = '{{sfg_list|safe}}';
    // var sfg_list = $.parseJSON(sfg_list);
    // var sfg_list_length = Object.keys(sfg_list["sfg_id"])['length']
    // var sfgs = '{{sfgs|safe}}';

    // form schedule data

    

    //var produce_log = new Array();
    
    window.onload = function (){
        //Show and hide li 

        //var today = '{{p_date}}';
        //var p_date = document.getElementById('p_perform_today');
        //var p_date='{{p_date}}';
        
        $("#p_perform_today").attr('value',p_date);

        // sort tables date
        
        $(function() {
                // call the tablesorter plugin
            $("table").tablesorter({
                theme : 'blue',

                dateFormat : "yyyymmdd", // set the default date format

                // or to change the format for specific columns, add the dateFormat to the headers option:
                headers: {
                0: { sorter: "shortDate" } //, dateFormat will parsed as the default above
                // 1: { sorter: "shortDate", dateFormat: "ddmmyyyy" }, // set day first format; set using class names
                // 2: { sorter: "shortDate", dateFormat: "yyyymmdd" }  // set year first format; set using data attributes (jQuery data)
                }

            });
        });
 

        $("#p_submit").click(function(){
            
            var date = $('#p_perform_today').val();
            //alert(date);
            url = '/report/perform_pop/?date='+date
            newwindow=window.open(url,'_blank');
            if (window.focus) {newwindow.focus()}
        });   

        $("#performance_table tbody tr td:nth-child(3)").click(function(){
                
                var date = $(this).parent('tr').find('td').eq(10).html();
                var username = $(this).parent('tr').find('td').eq(11).html();
                var user = $(this).parent('tr').find('td').eq(1).html();
                {% comment %} //alert($(this).html());
                
                //$(this).attr('class', 'submit');
                var b = this.index;
                alert(date);
                alert(username);
                //alert(a);
             {% endcomment %}
            url = '/report/per_get_prod_log/?date='+date+'&username='+username+'&user='+user+'&tab=dKpi'
            newwindow=window.open(url,'_blank');
            if (window.focus) {newwindow.focus()}
           //if(newwindow){data.submit();}
            
            //var b = $("#b").val();
            {% comment %} $.get("/report/per_get_prod_log/",{'date':date,'username':username}, function(ret){
                for(i=0;i<ret.length;i++){
                    alert(ret.length);
                    alert(ret[i].sfg);
                    alert(ret[i].type);
                    alert(ret[i].op);
                    alert(ret[i].qty);
                    alert(ret[i].standard);
                    alert(ret[i].real);
                   
                    
                }
                
                //var result = ret;
                //validateQty(ret);
            }) {% endcomment %}

        });

        //alert(allRows);
        //});
        $("#tblNeedsScrolling tbody tr td:nth-child(3)").click(function(){

            var comments = $(this).parent('tr').find('td').eq(2).html();
            if(comments != '---'){

              
                var sfg = $(this).parent('tr').find('td').eq(0).html();
                
                url = '/report/get_sfg_comments/?sfg='+sfg
                newwindow=window.open(url,'windowName','height=590,width=1000,top=100, left=200');
                if (window.focus) {newwindow.focus()}
            //if(newwindow){data.submit();}
                
                //var b = $("#b").val();
            } 
            
        });



      

    }
    // end of window.onload 





    
    $('body').on('mousewheel',function(){
        //alert('wheel moved')
        // floate schedule table
        var $table = $('#tblNeedsScrolling');
        $table.floatThead({
            scrollContainer: function($table){
                return $table.closest('.wrapper');
            }
        });

        

       
    });

    
 
    

</script>
<style>
    #main_content
    {
     margin-top:20px;
     width:100%;
     
    }
    .submit
    {
        background:green;
    }
    #main_content li
    {
     display:inline;
     list-style-type:none;
     background-color:#6AC1F7;
     padding:10px;
     border-radius:5px 5px 0px 0px;
     color:#292A0A;
     font-weight:bold;
     cursor:pointer;
    }
    .parent{
        background: #6AC1F7;
    }

    .row1{
        background:white;
    }
    .row2{
        background:lightgray;
    }
    #main_content li.notselected
    {
     background-color:None;
     color:#292A0A; 
    }
    .active 
    {
     display:inline;
     list-style-type:none;
     background-color:orange;
     padding:10px;
     border-radius:5px 5px 0px 0px;
     color:#292A0A;
     font-weight:bold;
     cursor:pointer;
    }
    #tblNeedsScrolling tbody td{
        max_length:150px;
       word-wrap:break-word; 
    }
    .tableHead
    {
        cursor:pointer;
    }
    table thead th{
        background: #79aec8;
    }
    {% comment %}   
    table thead tr{
        display:block;
    }

    table td{
        width:150px;//fixed width
    } 
    

    table  tbody{
    display:block;
    height:760px;
    overflow:auto;//set tbody to auto
    } 
    table {
        table-layout: fixed;
    }  {% endcomment %}
    
</style>

 <!-- 生产状态 -->
       <div id='dKpi' width="100%"  >
        <h1>业绩审核界面</h1>
            <br/><br/>
   
            <div style='position:relative;left:30%;'>
                <fieldset style = 'width:500px' style='position:relative;left:30%;'>
                    <legend>查询</legend>
                    <form  action="#" method="post" >
                            {% csrf_token %}
                            <p>日期: <input id='p_perform_today' name='p_perform_today' type="text" onclick="fPopCalendar(event,this,this)" value = '' readonly="readonly" > 
                            <input type='hidden' value='dKpi'>
                            <span>筛选：</span><input type="text" id="filterName1">
                            <input id='p_submit' type='submit' value='查询'></p>
                    </form>
                </fieldset>
            </div>
            <div>   
                    <p id='p_save_message'></p>
                    <p id='cd_time'></p>
                    
                    <!-- <input type='button' value='提交数据' onclick='save_all_perform()'> -->
                
            </div>
            <div height='80%'>
                <div id="perform_dialog" title="Basic modal dialog" style="display:none">
                    <p></p>
                </div>
                <div style="overflow:scroll " >
                    <table id='performance_table' border=1  style="overflow:scroll;text-align:center; ">
                        <thead>
                            <tr class = 'parent'>
                                <th><input type='checkbox' id = 'action-toggle'></th>
                                <th class= 'tableHead' width=200>员工</th>
                                <th class= 'tableHead' width=100>工作时间</th>
                                <th class= 'tableHead' width=100>个人绩效</th>
                                <th class= 'tableHead' width=100>标准工时</th>
                                <th class= 'tableHead' width=100>制造工时</th>
                                <th class= 'tableHead' width=100>辅助工时</th>
                                <th class= 'tableHead' width=100>外借工时</th>
                                <th class= 'tableHead' width=100>工效比</th>
                                <th class= 'tableHead' width=100>工时有效率</th>
                                
                                <th class= 'tableHead' width=100 >Date</th>
                                <th width=100>username</th>
                                <th width=100>原班组</th>
                                <th width=100>工作组</th>
                                <th width=100>Validate</th>
                                {% comment %} <th style="visibility:hidden" >Validate</th>
                                <th style="visibility:hidden" >Validate</th> {% endcomment %}
                                
                                

                            </tr>                    
                        </thead>
                        <tbody>
                        
                                {% for  i in p_perform_list  %}
                                    <tr  class="{% cycle 'row1' 'row2' %}">
                                        <td><input type='checkbox' class='is_checked'></td>
                                        <td width=200>{{i.p_user}}</td>
                                        {% if i.p_natural > 8 %}
                                            <td style='background:#3498DB' width=100>{{i.p_natural}}</td>
                                        
                                        {% elif i.p_natural < 8  %}
                                            <td style='background:#FF5733' width=100>{{i.p_natural}}</td>
                                        {% else %}
                                            <td style='background:lime' width=100>{{i.p_natural}}</td>
                                        {% endif %}
                                        
                                        <td width=100>{{i.p_total}}</td>
                                        <td width=100>{{i.p_standard}}</td>
                                        <td width=100>{{i.p_real}}</td>
                                        <td width=100>{{i.p_sup_without_borrow}}</td>
                                        <td width=100>{{i.p_sup_borrow}}</td>
                                        <td width=100>{{i.p_kpi}}</td>
                                        <td width=100>{{i.p_efficiency}}</td>
                                        <td width=100>{{p_date}}</td>
                                        <td width=100>{{i.username}}</td>
                                        <td width=100>{{i.group}}</td>
                                        <td width=100>{{i.work_group}}</td>
                                        {% if i.validate == '未保存' %}
                                            <td width=100 style='background:red'>{{i.validate}}</td>
                                        {% else %}
                                            <td width=100 style='background:lime'>{{i.validate}}</td>
                                        {% endif %}
                                        
                                        {% comment %} <td style="visibility:hidden"><div>{{i.p_produce_log}}</div></td>
                                        <td style="visibility:hidden"><div>{{i.p_sup_log}}</div></td> {% endcomment %}
                                    </tr>  
                                {% endfor %}        
                                            
                                        
                                
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
