{% extends 'valuehour/production/base.html' %}
{% block title %}价值工时--报表{% endblock %}
{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count" style="margin-left: 4%">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="width: 13%; text-align: center; padding-bottom: 0px; padding-top: 15px;">
              <span class="count_top"><i class="fa fa-clock-o"></i> 标准/制造工时</span>
              <div class="count">xxxxH</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="width: 13%; text-align: center;padding-bottom: 0px;padding-top: 15px;">
              <span class="count_top"><i class="fa fa-clock-o"></i> 制造工时</span>
              <div class="count">xxxH</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="width: 13%; text-align: center; padding-bottom: 0px;padding-top: 15px;">
              <span class="count_top"><i class="fa fa-user"></i> 辅助工时</span>
              <div class="count">xxH</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="width: 13%; text-align: center; padding-bottom: 0px;padding-top: 15px;">
              <span class="count_top"><i class="fa fa-user"></i> 加班工时</span>
              <div class="count">xxxH</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="width: 13%; text-align: center; padding-bottom: 0px;padding-top: 15px;">
              <span class="count_top" id="this_quarter_title"><i class="fa fa-user"></i> 本季度价值工时</span>
              <div class="count green" id="this_quarter">计算中...</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="width: 13%; text-align: center; padding-bottom: 0px;padding-top: 15px;">
              <span class="count_top" id="whole_year_title"><i class="fa fa-user"></i> 全年价值工时</span>
              <div class="count green" id="whole_year">计算中...</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" style="width: 13%; text-align: center; padding-bottom: 0px;padding-top: 15px;">
              <span class="count_top"><i class="fa fa-user"></i> 业绩</span>
              <div class="count">x%</div>
            </div>
          </div>
          <!-- /top tiles -->

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">

                <div class="row x_title">
                  <div class="col-md-6">
                    <h3>详细记录</h3>
                  </div>
                  <div class="col-md-6">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                      <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                <!--table begin -->
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <!---begin acc-->

                    <div class="x_content">


                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">制造工时</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">辅助外借工时</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">加班工时</a>
                        </li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
		                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
		                      <thead>
		                        <tr>
		                          <th>合同号</th>
		                          <th>SFG</th>
		                          <th>产品类型</th>
		                          <th>数量</th>
		                          <th>填报工时</th>
		                          <th>价值工时</th>
		                          <th>确认工时</th>
		                          <th>工号</th>
		                          <th>日期</th>
		                        </tr>
		                      </thead>
		                      <tbody id="machine">
		                        <tr>
		                          <td>Tiger</td>
		                          <td>Nixon</td>
		                          <td>System Architect</td>
		                          <td>Edinburgh</td>
		                          <td>61</td>
		                          <td>2011/04/25</td>
		                          <td>$320,800</td>
		                          <td>5421</td>
		                          <td>t.nixon@datatables.net</td>
		                        </tr>
                            <tr>
                              <td>Tiger</td>
                              <td>Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                              <td>5421</td>
                              <td>t.nixon@datatables.net</td>
                            </tr>
                            <tr>
                              <td>Tiger</td>
                              <td>Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                              <td>5421</td>
                              <td>t.nixon@datatables.net</td>
                            </tr>
                            <tr>
                              <td>Tiger</td>
                              <td>Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                              <td>5421</td>
                              <td>t.nixon@datatables.net</td>
                            </tr>
                            <tr>
                              <td>Tiger</td>
                              <td>Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                              <td>5421</td>
                              <td>t.nixon@datatables.net</td>
                            </tr>
                            <tr>
                              <td>Tiger</td>
                              <td>Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                              <td>5421</td>
                              <td>t.nixon@datatables.net</td>
                            </tr>
                            <tr>
                              <td>Tiger</td>
                              <td>Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                              <td>5421</td>
                              <td>t.nixon@datatables.net</td>
                            </tr>
                            <tr>
                              <td>Tiger</td>
                              <td>Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                              <td>5421</td>
                              <td>t.nixon@datatables.net</td>
                            </tr>
                            <tr>
                              <td>Tiger</td>
                              <td>Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                              <td>5421</td>
                              <td>t.nixon@datatables.net</td>
                            </tr>
                            <tr>
                              <td>Tiger</td>
                              <td>Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                              <td>5421</td>
                              <td>t.nixon@datatables.net</td>
                            </tr>
                            <tr>
                              <td>Tiger</td>
                              <td>Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                              <td>5421</td>
                              <td>t.nixon@datatables.net</td>
                            </tr>
                            <tr>
                              <td>Tiger</td>
                              <td>Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                              <td>5421</td>
                              <td>t.nixon@datatables.net</td>
                            </tr>
		                      </tbody>
		                    </table>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                            booth letterpress, commodo enim craft beer mlkshk aliquip</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                          <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                            booth letterpress, commodo enim craft beer mlkshk </p>
                        </div>
                      </div>
                    </div>

                  </div>


                    <!---end acc -->
					
					
                  </div>

                <!--table end -->

                </div>


                <div class="clearfix"></div>
              </div>
            </div>

          </div>
          <br />
          </div>
        </div>
        <!-- /page content -->
{% endblock %}
{% block js %}
    <!-- jQuery -->
    <script src="/static/valuehour/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/valuehour/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/valuehour/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/valuehour/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/static/valuehour/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/static/valuehour/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/static/valuehour/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/static/valuehour/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/static/valuehour/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/static/valuehour/vendors/Flot/jquery.flot.js"></script>
    <script src="/static/valuehour/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/static/valuehour/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/static/valuehour/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/static/valuehour/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/static/valuehour/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/static/valuehour/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/static/valuehour/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/static/valuehour/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/static/valuehour/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/valuehour/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/valuehour/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/static/valuehour/vendors/moment/min/moment.min.js"></script>
    <script src="/static/valuehour/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Datatables -->
    <script src="/static/valuehour/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/valuehour/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/valuehour/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/valuehour/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/valuehour/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/static/valuehour/build/js/custom.min.js"></script>
    <script type="text/javascript">console.log(localStorage.getItem("sidebar"));</script>
    <script type="text/javascript">
      $.getJSON("/jzgs/getManAssiOverValue/?date=2019-09-11&end_date=2019-09-22", function(data){
        if(data){
          for(v in data){
            detail = data[v];
            //treat machine
            machine = detail.machine;
            txt = ''
            for (items in machine){
              console.log(machine[items]);
              txt += '<tr role="row">';
              txt += '<td tabindex="0" class="sorting_1">'+machine[items].contract+'</td>';
              txt += '<td>'+machine[items].sfg+'</td>';
              txt += '<td>'+machine[items].product_type+'</td>';
              txt += '<td>'+machine[items].qty+'</td>';
              txt += '<td>'+machine[items].real_time+'</td>';
              txt += '<td>'+machine[items].standard+'</td>';
              txt += '<td>'+machine[items].confirmed+'</td>';
              txt += '<td>'+machine[items].username+'</td>';
              txt += '<td>'+'todo'+'</td>';
              txt += '</tr>'
            }
            $("#machine").html(txt);
            //end machine
          }
        }
      })
    </script>
{% endblock %}
