{% extends 'valuehour/production/base.html' %}
{% block title %}价值工时--班组长确认{% endblock %}
{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3><i class="fa fa-check-circle-o"></i>&nbsp价值工时认可 <small><i class="fa fa-calendar"></i><span id="actual" style="margin-left:5px; margin-right:5px;	"></span></small></h3>
              </div>
			  
			  
			  <!--  日期选择框START --->
			  <div class="title_right" style=" width:50%; float:right">

                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right" style="padding-right:0px;">
                  <div class="col-md-11 xdisplay_inputx form-group has-feedback" style="padding-right:0px;">
                                <input type="text" class="form-control has-feedback-left" id="choose_date" placeholder="请选择日期" aria-describedby="inputSuccess2Status2">
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                   </div>
                </div>
				<!--
			  <div class='input-group date' id='myDatepicker2'>
			    <input name="text" type='text' class="form-control" id="datepicked"/>
			    <span class="input-group-addon">
                 <span class="glyphicon glyphicon-calendar"></span>
              </span>                        </div>
			  -->
              </div>			  
			  
			  <!--- 日期选择框END ---->			  
			  
			  
			  
			  <!-- search 
              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <button type="button" class="btn btn-success" style="position:fixed; right:18px; top:70px;">Success</button>
                  </div>
                </div>
              </div>
			  -->
            </div>

            <div class="clearfix"></div>

            <div class="row">
            </div>
          </div>
        </div>
        <!--begin sidebar -->

        <!---end sidebar--->
        <!-- /page content -->
{% endblock %}
{% block js%}
    <!-- jQuery -->
    <script src="/static/valuehour/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/valuehour/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/valuehour/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <!-- bootstrap-datetimepicker -->  
    <script src="/static/valuehour/vendors/moment/min/moment.min.js"></script>
    <!--<script src="/static/valuehour/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>-->
    <script src="/static/valuehour/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/static/valuehour/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <!-- Select2 -->
    <script src="/static/valuehour/vendors/select2/dist/js/select2.full.min.js"></script>
    <script src="/static/valuehour/vendors/iCheck/icheck.min.js"></script>
    <!-- Switchery -->
    <script src="/static/valuehour/vendors/switchery/dist/switchery.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/static/valuehour/build/js/custom.min.js"></script>
	<script src="/static/valuehour/vendors/layer/layer.js"></script>
	<script>


	function doublenbr(v){
	try{
	  return v.toFixed(2);
	}catch(e){
	  return 'Error';
	}
	}

	function makedouble(x){
		try{
			return x.toFixed(2);
		}catch(e){
			return x;
		}
	}

	function adding(dic, name, v){
		if (dic[name]){
			dic[name] = dic[name] +v;
		}else{
			dic[name] = v;
		}
	}

	function judge(dic, name, v){
		if(!v){
			adding(dic, name, -9999);
		}else{
			adding(dic, name, 1);
		}
	}

	function addafterjud(txt, nbr){
		if(nbr>0){
			return txt;
		}else{
			return '';
		}
	}

	// 对Date的扩展，将 Date 转化为指定格式的String
	function parse_date(d){
		year = d.getFullYear();
		month = ("0" + (d.getMonth() + 1)).slice(-2);;
		date = ("0" + (d.getDate())).slice(-2);;
		return year+'-'+month+'-'+date;		
	}
	
	function translation(v){
		dic = {
			'contract':'订单', 'sfg':'SFG', 'product_type':'产品类型', 'op_id__op_id':'工步','prob':'测头','qty':'数量',
			'quote':'报价','original_group':'原始班组','work_group':'工作班组', 'a_type':'种类', 'a_category':'类别', 
			'a_subject':'科目', 'b_category':'分类别','b_subject':'分科目','expense':'期间费用','comments':'备注','attach':'附件',
			'over_time_type':'加班类型','is_paid':'申请加班费','groups':'班组','cost_rate':'费率','flexible':'质量报告单号'
		};
		if(dic[v]){
			return dic[v];
		}else{
			return v;
		}
	};
	
		//获取url参数
	function getQueryVariable(variable)
	{
		   var query = window.location.search.substring(1);
		   var vars = query.split("&");
		   for (var i=0;i<vars.length;i++) {
				   var pair = vars[i].split("=");
				   if(pair[0] == variable){return pair[1];}
		   }
		   return('');
	}
	
	function seturl(parameter){
		location.href = window.location.pathname + '?date='+ parameter;
	}
	
		//拼接方法
	function heredoc(fn) {
		return fn.toString().split('\n').slice(1,-1).join('\n') + '\n'
	}

	//头部字符串
	header = heredoc(function(){/*
	<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height: auto;">
                  <div class="x_title">
                    <h2><i class="fa fa-user"></i>&nbsp;<b name="user_id">{0}</b>&nbsp;&nbsp;<i class="fa fa-clock-o"></i>&nbsp;{1}H&nbsp;&nbsp;<i class="fa fa-moon-o"></i>&nbsp;{4}H</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-{5}"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" tabindex = "-1"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu" tabindex = "-1">
                          <li tabindex = "-1"><a href="#">Settings 1</a>
                          </li>
                          <li tabindex = "-1"><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content" style="display: {6};">

                    <div class="table-responsive" style="overflow-x:hidden;">
                      <table class="table jambo_table">
                        <thead>
                          <tr class="headings">
                            <th width="5%">
                              <input type="checkbox" id="check-all" class="flat" name="check-all" value="{3}" tabindex = "-1"></th>
                            <th class="column-title" width="8%">属性 </th>
                            <th class="column-title" width="5%">填报工时</th>
							<th class="column-title" width="5%">价值工时</th>
							<th class="column-title" width="5%">费率</th>
							<th class="column-title" width="8%">确认价值工时</th>
                            <th class="column-title">描述</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody id="{2}">
						*/});
	footer  = heredoc(function(){/*
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
	*/});
	
	/* <input type="checkbox" class="flat" name="table_records" id="{0}" value="{1}" tabindex = "-1"><span class="fa fa-lock" style ="font-size:20px;"></span>*/
	
	medium  = heredoc(function(){/*
		                          <tr {12} {myclass}>
                            <td class="a-center">  <input type="checkbox" class="flat" name="table_records" id="{0}" value="{1}" tabindex = "-1" {10}>  {11} </td>
                            <td class=" ">{2}</td>
                            <td class=" "><span class="badge bg-green">{3}</span></td>
							<td class=" "><span class="badge bg-orange" {7}>{6}</span></td>
							<td class=" "><span {7}>{13}</span></td>
							<td class=" "><input type="text" placeholder="" class="form-control" name = {5} onchange = "trigger($(this))" {8} value = {9}></td>
                            <td class=" ">{4}</td>
                            <td>{toggle_action}</td>
                          </tr>
	*/});
	
	//console.log(header);
	
	//解析json中的数据成字符串
	function parse_json(jsondata, id){
		// console.log(jsondata);
		medium_json = JSON.parse(JSON.stringify(jsondata));
		exclude_list =  ["id","real_time","confirmed","standard", "over_time", "username", "user","quote","date", "user__first_name", "user__last_name"];
		notyet_list = ["b_category", "b_subject", "expense", "comments", "attach"];
		special_list = ["b_category", "b_subject", "expense"];
		reuse_list = ["cost_rate"];
		confirmed  = medium_json['confirmed'];
		for(l in exclude_list){
			delete medium_json[exclude_list[l]];
		};
		if (jsondata['prob'] == '' || jsondata['prob'] == null){
			delete medium_json['prob'];
		}

		if(jsondata['a_type'] == '质量工时'){
			medium_json['flexible'] = JSON.parse(jsondata['flexible']).quality_no;
		}else{
			try{
				delete medium_json['flexible'];
			}catch(e){
				console.log(e);
			}
		}

		if(jsondata['a_type'] == '外部工时'){
			if(medium_json['attach']){
				medium_json['attach'] = '<a href="/jzgs/downloadFile/?id='+jsondata['id']+'" target="_blank"><i class="fa fa-paperclip"></i>下载附件</a>';
				// delete notyet_list[4];
				// notyet_list.remove();
			}
		}else{
			delete medium_json['attach'];
		}

		str = "";
		if(['辅助制造工时','其他辅助工时','质量工时','计提工时'].indexOf(jsondata['a_type'])>=0){
		for(l in special_list){
			delete medium_json[special_list[l]];
		}			
		};
		$.each(medium_json, function(name, value){
			if(name == 'is_paid'){
				if (value ==0){
					value = '否';
				}else if(value ==1){
					value ='是';
				};
			}

			if(name == 'original_group' || name == 'work_group'){
				value = value.replace('数据-', '');
			}

			if (notyet_list.indexOf(name)>=0 && !confirmed && jsondata['a_type']=='外部工时'){


				if(jsondata['b_subject'] && jsondata['b_category'] && jsondata['expense'] && jsondata['comments'] && jsondata['attach']){
					color = '';
				}else{
					color = 'red';
				}

				if(name == 'attach' && value){
					action = '';
				}else{
					action = 'accomplish($(this))';		
				}


				str = str + '<span class="btn btn-default btn-sm '+color+'" onClick = "'+action+'"><i class="fa fa-asterisk" style ="font-size:16px; margin-right:3px;"></i>'+translation(name)+ ':<b style="font-weight:normal" id="'+name+'__'+id+'">' + value  +'</b></span>';
			}else if(reuse_list.indexOf(name)>=0){
				str = str + '<span class="btn btn-default btn-sm" style="cursor:default; background-color:rgba(255,255,255,.15);">'+translation(name)+ ':<b style="font-weight:normal" id="'+name+'__'+id+'">' + value  +'</b></span>';				
			}else{			
				str = str + '<span class="btn btn-default btn-sm" style="cursor:default; background-color:rgba(255,255,255,.15);">'+translation(name)+ ':' + value  +'</span>';
			}
		});
		return str;
	}

	function makenullwhenzero(v){
		if(!v){
			return '';
		}else{
			return v;
		}
	}

	function zerowhennull(v){
		if (!v){
			return 0;
		}else{
			return v;
		}
	}

	//验证字符串是否是数字
	function checkNumber(theObj) {
	  var reg = /^[0-9]+.?[0-9]*$/;
	  if (reg.test(theObj)) {
	    return true;
	  }
	  return false;
	}

	  function myIsNaN(value) {
		return typeof(value) === 'number' && !isNaN(value);
	  }

	function value2ormachine(v){
		if(!v){
			return '标准工时';
		}else{
			return v;
		}
	}

	// res = compare([0,2],[1,4],3);
	// alert(res);

	function compare(begin, end){
		// begin =JSON.parse(JSON.stringify(begin));
		// end =JSON.parse(JSON.stringify(end));
		result = [];
		len = begin.length;
		for (i=0; i<len; i++){
			list = [begin[i], end[i]];
			for (j=begin[i]+1; j<end[i]; j++){
				result.push(j);
			};
		};
		return result;
	};


	//js创造占位符的方法拼接字符串
	//var str = "js实现用{two}自符串替换占位符{two} {three}  {one} ".format({one: "I",two: "LOVE",three: "YOU"});
	//var str2 = "js实现用{1}自符串替换占位符{1} {2}  {0} ".format("I","LOVE","YOU");
	String.prototype.format = function() {
	 if(arguments.length == 0) return this;
	 var param = arguments[0];
	 var s = this;
	 if(typeof(param) == 'object') {
	  for(var key in param)
	   s = s.replace(new RegExp("\\{" + key + "\\}", "g"), param[key]);
	  return s;
	 } else {
	  for(var i = 0; i < arguments.length; i++)
	   s = s.replace(new RegExp("\\{" + i + "\\}", "g"), arguments[i]);
	  return s;
	 }
	}
	
	//自定义方法，全选和取消全选	
	// $(document).ready(
		function initiaze_page(a, b){
	//获取日期

	actual = getQueryVariable("date");
	if(!actual){
		$(".row").html('<div class="alert alert-success alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><h4><i class="fa fa-calendar"></i> 注意!</h4><h4>请去选择日期</h4></div>');
		return false;
	}	
	var index = layer.load(3, {shade: [0.1,'#fff']});		
	//获取api数据
	$.ajaxSettings.async = false;		
	$.getJSON("/jzgs/getManAssiOverValue/?date="+actual, function(api_data){

		//显示日期
		$('#actual').html(actual);
		//第一层，解析api.data,获取每个人下面的数据
		total_txt  = "";
		if(JSON.stringify(api_data)=='{}'){
			$(".row").html('<div class="alert alert-success alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><h4><i class="fa fa-remove"></i> 注意!</h4><h4>选择的日期没有数据</h4></div>');
			return false;
		};

		$.each(api_data, function(name0, value0){
			//创建初始字符串
			person_hour = 0;
			extra_hour = 0;
			txt = [];
			sfgs = [];
			sfg_to_debug = [];
			$.each(value0.machine, function(i,v){
				sfg_to_debug.push(v.sfg);
			})
			// console.log(value0.assistance);
			maniassis = [];
			$.each(value0.assistance, function(i, v){
				if(checkNumber(v.contract) && sfg_to_debug.indexOf(v.contract)>=0){
					if (maniassis.indexOf(v.contract)<0){
					maniassis.push(v.contract);						
					}
				}
			});
			tianbao = {};
			jiazhi = {};
			feilv = {};
			queren = {};
			chanpin = {};
			finished = {};
			// console.log(maniasssis);
			//第二层，解析api.data.person,获取3中工时数据
			$.each(value0, function(name1,value1){
				//第三层,解析api.data.person.hour,获取每种工时的每一条记录

				$.each(value1, function(name2,value2){
				//非加班工时+非制造辅助+没有确认
				//前提条件

				//begin the general judgement
				if (name1 != 'overtime' && value2.a_type!='辅助制造工时' && value2.confirmed){
						//begin title
						title = '';
						if(name1 == 'machine'){
							title = '标准工时';
							sfgs.push(value2.sfg+'_000_machine');
							adding(tianbao, value2.sfg, value2.real_time);
							adding(jiazhi, value2.sfg, value2.standard);
							feilv[value2.sfg] = value2.cost_rate;
							adding(queren, value2.sfg, value2.confirmed);
							chanpin[value2.sfg] = value2.product_type;
							judge(finished, value2.sfg, value2.confirmed);
						}else if(name1 == 'assistance'){
							title = value2.a_type;
							sfgs.push('99999_assistance')
						}
						//end title
				txt.push(medium.format(name1+'_'+value2.id, name1, title, value2.real_time, parse_json(value2, name1+'_'+value2.id), name1+'_'+value2.id, doublenbr(value2.standard), '', 'disabled', makenullwhenzero(value2.confirmed), 'disabled checked','<i class="fa fa-lock" style = "font-size:20px;"></i>', 'name="confirmed"', value2.cost_rate));

				//非加班工时+非制造辅助+确认了
				}else if(name1 != 'overtime' && value2.a_type!== '辅助制造工时' && !value2.confirmed){
					//如果辅助外借且补充信息留空
					if(name1 == 'assistance' && value2.a_type =='外部工时' && !(value2.b_subject && value2.b_category && value2.expense && value2.comments && value2.attach)){				
					txt.push(medium.format(name1+'_'+value2.id, name1, value2.a_type, value2.real_time, parse_json(value2, name1+'_'+value2.id), name1+'_'+value2.id, doublenbr(value2.standard), '', 'pbm="not_yet"', makenullwhenzero(value2.confirmed), '','','name = "not_yet"', value2.cost_rate));

						//begin sfgs
						sfgs.push('99999_assistance');			
						//end sfgs

					} 
					//如果辅助外借或制造且补充信息完整
					else 
					{
					txt.push(medium.format(name1+'_'+value2.id, name1, value2ormachine(value2.a_type), value2.real_time, parse_json(value2, name1+'_'+value2.id), name1+'_'+value2.id, doublenbr(value2.standard), '', '', makenullwhenzero(value2.confirmed), '','','',value2.cost_rate));

						//begin sfgs
						if(name1 == 'machine'){
							sfgs.push(value2.sfg+'_000_machine');
							adding(tianbao, value2.sfg, value2.real_time);
							adding(jiazhi, value2.sfg, value2.standard);
							feilv[value2.sfg] = value2.cost_rate;
							adding(queren, value2.sfg, value2.confirmed);
							chanpin[value2.sfg] = value2.product_type;
							judge(finished, value2.sfg, value2.confirmed);
							if(!value2.confirmed){
								confirmed_jud = false;
							}
						}else{
							sfgs.push('99999_assistance');
						}
						//end sfgs
					}
					//end 嵌套 if
				//如果加班
				}else if(name1 =='overtime'){
				txt.push(medium.format(name1+'_'+value2.id, name1, '加班工时', value2.over_time, parse_json(value2, name1+'_'+value2.id), name1+'_'+value2.id, 'xx', 'style="display:none;"', 'style="display:none;" disabled', '', 'disabled checked','<i class="fa fa-lock" style = "font-size:20px;"></i>','name="confirmed"',value2.cost_rate));
				//begin sfgs
				sfgs.push('99999_yy_overtime');
				//end sfgs

				//如果制造辅助
				}else if(value2.a_type == '辅助制造工时'){
					// console.log(value2.a_type+value2.confirmed);
				if (value2.confirmed){
					confirmed_str = 'name="confirmed"';
					disabled_str = 'disabled checked';
					lock = '<i class="fa fa-lock" style = "font-size:20px;"></i>';
					single_disabled = 'disabled';
				}else{
					confirmed_str = '';
					disabled_str ='';
					lock = '';
					single_disabled = '';
				}
				txt.push(medium.format(name1+'_'+value2.id, name1, value2.a_type, value2.real_time, parse_json(value2, name1+'_'+value2.id), name1+'_'+value2.id, doublenbr(value2.standard), '', single_disabled, makenullwhenzero(value2.confirmed), disabled_str, lock, confirmed_str, value2.cost_rate));
				//begin sfgs
				sfgs.push(value2.contract+'_001_maniassis');
				adding(tianbao, value2.contract, value2.real_time);
				adding(jiazhi, value2.contract, value2.standard);
				adding(queren, value2.contract, value2.confirmed);
				judge(finished, value2.contract, value2.confirmed);
				//end sfgs

				//其他情况视为错误
				}else{
				txt.push("注意，有错误，请联系管理员！");
				sfgs.push('9999999_zz_error');
				};
				//end the general judgement


				//计算个人的共工时
				if (name1 == 'overtime'){
					person_hour = person_hour + 0;
					extra_hour = extra_hour + value2.over_time;
					}else{
					person_hour = person_hour + value2.real_time;
					}
				})
			})
			sfgs_old = JSON.parse(JSON.stringify(sfgs));
			sfgs_old_i = [];
			$.each(sfgs_old,function(i, v){
				sfgs_old_i.push(v+'_'+i);
			});

			sfgs_ord_i = JSON.parse(JSON.stringify(sfgs_old_i));
			sfgs_ord_i.sort();
			// console.log(sfgs_ord_i);

 			ordered = [];
 			sfg_ordered = [];
			$.each(sfgs_ord_i, function(i, v){
				ord = sfgs_old_i.indexOf(v);
				ordered.push(ord);
				sfg_ordered.push(v.split('_')[0]);
			});
			// console.log(maniassis);
			// console.log(sfg_ordered);
			begins = [];
			ends = [];
			$.each(maniassis, function(i, v){
				begins.push(sfg_ordered.indexOf(v))
				ends.push(sfg_ordered.lastIndexOf(v));
			});
			// console.log(begins);
			// console.log(ends);
			// console.log(ordered);
			mediums = compare(begins, ends);

			last_txt = '';
			// console.log(tianbao);
			// console.log(jiazhi);
			// console.log(feilv);
			// console.log(queren);
			// console.log(chanpin);
			// console.log(finished);

			for (i in ordered){
				// console.log(i);
				// console.log(queren[sfg_ordered[i]]);
				if (begins.indexOf(parseInt(i))>=0){
					last_txt = last_txt +medium.format('', '', '标准+辅助', tianbao[sfg_ordered[i]], parse_json({'SFG':sfg_ordered[i], '产品类型':chanpin[sfg_ordered[i]]}, sfg_ordered[i]), '', doublenbr(jiazhi[sfg_ordered[i]]), '', 'disabled', makedouble(queren[sfg_ordered[i]]), 'disabled '+addafterjud('checked', finished[sfg_ordered[i]]),addafterjud('<i class="fa fa-lock" style = "font-size:20px;"></i>', finished[sfg_ordered[i]]),'onClick = "zhedie($(this))" '+addafterjud('name="confirmed"', finished[sfg_ordered[i]]),feilv[sfg_ordered[i]]).format({'myclass':'class="navtog"','toggle_action':'<i class="fa fa-plus-square-o" style="font-size:18px;"></i>'})+txt[ordered[i]].format({'myclass':'class="begining"  style="display:none"', 'toggle_action':'<i class="fa fa-minus-square"></i>'});	
				}else if(ends.indexOf(parseInt(i))>=0){
					last_txt = last_txt+txt[ordered[i]].format({'myclass':'class="ending" style="display:none"', 'toggle_action':'<i class="fa fa-minus-square"></i>'});
				}else if(mediums.indexOf(parseInt(i))>=0){
					last_txt = last_txt+txt[ordered[i]].format({'myclass':'class="begining" style="display:none"', 'toggle_action':'<i class="fa fa-minus-square"></i>'});
				}else{
					last_txt = last_txt+txt[ordered[i]].format({'myclass':'', 'toggle_action':''});
				};
			}

			header_str = header.format(name0, person_hour.toFixed(1), name0, name0, extra_hour.toFixed(1), a, b);
			total_txt = total_txt + header_str + last_txt + footer;
		});
		
		$(".row").html(total_txt);

		$('input').iCheck({
			checkboxClass: 'icheckbox_flat-green'
		  });
		 //initiaze ickeck
		 int();
		 //initizlize toggle
		 //toggle();
		 });

		 user_dic = {};

		$.getJSON('/jzgs/getWorkerOpProb/', '',function(data){
			person_detail = data.user;
			person_dic = {};
			$.each(person_detail, function(i, v){
				person_dic[v.user_id] = v.full_name;
			});
			user_dic = JSON.parse(JSON.stringify(person_dic));

		});
		$.ajaxSettings.async = true;

			//begin rename
			$.each($("[name='user_id']"), function(i, v){
				id  = $(this).html();
				if(user_dic[id]){
				$(this).html(user_dic[id]);
				};			
			});
			//end rename

		//恢复右下角按钮状态
		$("#hilight").attr("class","");
		$("#openclose").attr("class","fa fa-angle-double-down green");
		$("#onlypbm").attr("class","");


		layer.close(index);
	}//);
	
	initiaze_page('down', 'block');
	
	function int(){		
		//实现自定义的全选功能
		//judge and check
		_checkboxMaster = $(":checkbox[name = 'check-all']");
		//_checkboxMaster = $(this);
		_checkboxMaster.on("ifClicked", function (e) {
			range  = $(this).val();
			range_str = "tbody#"+range;
			_checkbox = $(range_str).find("[type='checkbox']").not("[disabled]");
			// 当前状态已选中，点击后应取消选择
			if (e.target.checked) {
				_checkbox.iCheck("uncheck");
			}	
			// 当前状态未选中，点击后应全选
			else {
				_checkbox.iCheck("check");
			}
		});			
	}
	
	function tg(){
		$.each($(".collapse-link"), function (order, data){
			var a = $(this).closest(".x_panel"),b = $(this).find("i"),c = a.find(".x_content");	
			b.toggleClass("fa-chevron-up fa-chevron-down");
			c.slideToggle(200),a.css("height","auto");			
		});
		$("#openclose").toggleClass("fa fa-angle-double-down green");
	}

	// function (){
	// 	$.each($(".showtdb"))
	// }
	
	  
	    //日期选择函数
	$("#choose_date").daterangepicker(
		{singleDatePicker:!0,singleClasses:"picker_2",locale:{format: "YYYY-MM-DD"},autoUpdateInput:false},
		function(a,b,c){
		date_string = parse_date(b._d);
		seturl(date_string);
		}); 
	  
	
	function getall(){
		var machines = new Array();
		var assistances = new Array();
		var extras = new Array();
		var result = {};
		var result_list = [];
		out_complet = true;
		$.each($("input[name='table_records']:checked").not("[disabled]"), function(a,b){

			if($("#expense__"+b.id).text() && !($("#attach__"+b.id).text() && $("#b_category__"+b.id).text() && $("#b_subject__"+b.id).text() && $("#comments__"+b.id).text())){
				// layer.msg('有外部工时没有填写完整，请填写完整后提交，或者暂时不提交该外部工时', {icon: 2, time:2000});
				out_complet = false;
			}

			input_name = "[name = '" + b.id +"']";
			input_value = $(input_name).val();
			if (input_value && !myIsNaN(input_value)){	
					var json = {};
					json.type = b.id.split("_")[0];
					json.id = b.id.split("_")[1];
					json.confirmed = $(input_name).val();
					json.action = 'update';
					try{
						subject = "#b_subject__"+b.id;
						json.b_subject = $(subject).text();	
						category = "#b_category__"+b.id;
						json.b_category = $(category).text();
						expense = "#expense__"+b.id;
						json.expense = zerowhennull($(expense).text());
						comments = "#comments__"+b.id;
						json.comments = $(comments).text();
						cost_rate = $("#cost_rate__"+b.id).text();
						json.expense_hour = (json.expense / cost_rate).toFixed(2);
						// console.log(json.expense_hour); 
					}catch(e){
						console.log('没有expense');
					}
					result_list.push(json);
				}	
		});

		if(!out_complet){
			layer.msg('有外部工时没有填写完整，请填写完整后提交，或者暂时不提交该外部工时', {icon:2});
			return false;			
		}

		if (!result_list || result_list.length == 0){
			layer.msg('未选中数据！', {icon: 2});
			return false;
		}

		data  = {'data':result_list};
		// console.log(data)
		// return false;

		//ajax to submit
		$.ajax({
		type:'post',
		url:"/jzgs/updateWorkerValue/",
		data:{'data':JSON.stringify(data)},
		//dataType:'text',
		error:function(response){
			console.log(response);
			alert('提交失败！');
			initiaze_page('down', 'block');
		},
		success:function(response){
			if(response == '"success"'){
				layer.msg('提交成功！', {icon: 1, time:600});
				initiaze_page('down', 'block');
			}else{
				layer.msg('接收失败，错误代码:'+response, {icon: 2});
				console.log(response);
				initiaze_page('down', 'block');
				tg();					
			}
		}
	});//end
	};
	
	function hilight(){
		zhedieall();
		$("[name='confirmed'], [class='navtog'], [class='navtog trans']").each(function(a,b){
			$(this).toggleClass("trans");
		});
		$("#hilight").toggleClass("fa fa-toggle-on green");
	};
	function onlypbm(){
		$("tr:not([name='not_yet'],[class='headings'])").each(function(a,b){
			$(this).toggleClass("trans1");
		});
		$("#onlypbm").toggleClass("fa fa-toggle-on green");
	};
	function showall(){
		$(".trans").each(function(a,b){
			$(this).removeClass("trans");
		});
	}
	function hellos(id, category, subject, expense, comments){
		subjects = "#b_subject__"+id;
		$(subjects).text(subject);	
		categorys = "#b_category__"+id;
		$(categorys).text(category);
		expenses = "#expense__"+id;
		$(expenses).text(expense);
		commentss = "#comments__"+id;
		$(commentss).text(comments);
		$(subjects).parent().attr("class","btn btn-default btn-sm green")
		$(subjects).prev().attr("class", "fa fa-check");
		$(commentss).parent().attr("class","btn btn-default btn-sm green");
		$(commentss).prev().attr("class", "fa fa-check");
		$(expenses).parent().attr("class","btn btn-default btn-sm green");
		$(expenses).prev().attr("class", "fa fa-check");
		$(categorys).parent().attr("class","btn btn-default btn-sm green");
		$(categorys).prev().attr("class", "fa fa-check");
	}

	function add_attach(id){
		content = '<a href="/jzgs/downloadFile/?id='+id+'" target="_blank"><i class="fa fa-paperclip"></i>下载附件</a>';
		position = '#attach__assistance_'+id;
		$(position).html(content);
		$(position).parent().attr({'class':'btn btn-default btn-sm green', 'onclick':''});
	}
	
	// function tog(){
	// 	alert("sdfdsfdsf");
	// 	$(this).toggle(hilight(), onlypbm(), showall());
	// };

	function zhedieall(){
		$.each($("[class='navtog'], [class = 'navtog trans']"), function(i,v){
			target = $(this).nextUntil(".ending");
			cls = $(this).find("i[class^='fa']").last();
			cls.attr("class","fa fa-minus-square-o");
			target.css("display",'table-row');
			target.next().css("display","table-row");	
			// target =$(this);
			// zhedie(target);
		})
	}

	function zhedie(v){
		target = v.nextUntil(".ending");
		//change the icon
		cls = v.find("i[class^='fa']").last();
		clss = cls.attr("class");
		if (clss == 'fa fa-plus-square-o'){
			cls.attr("class","fa fa-minus-square-o");
		}else if(clss == 'fa fa-minus-square-o'){
			cls.attr("class","fa fa-plus-square-o");
		}

		st = target.next().css("display");
		if(st =='table-row'){
			target.css("display",'none');
			target.next().css("display","none");
		}else{
			target.css("display",'table-row');
			target.next().css("display","table-row");
		}
	}
	
	function accomplish(v){
		v = v[0].lastChild.id.split("__")[1];
		if(v){
		// if(v.attr("pbm") && v.attr("pbm") == "not_yet"){
		//poping
		b_category = $("#b_category__"+v).text();
		b_subject = $("#b_subject__"+v).text();
		comments = $("#b_comments__"+v).text();
		expense = $("#b_expense__"+v).text();
		layer.open({
			type: 2,
			title: '补充信息',
			maxmin: false,
			shadeClose: true,
			shade:0.5,
			area: ['1000px', '500px'],
			content: '{% url "valuehour:add_info" %}?v='+v+'&cat='+b_category+'&sub='+b_subject+'&com='+comments+'&exp='+expense,
			scrollbar:false,
	  	});
		}	
	};
	
	function trigger(v){
		val = v.attr("name");
		val2 = v.val();
		finding = ":checkbox#"+val;
		is_nbr = checkNumber(val2);
		if(!is_nbr){
			layer.msg('你输入的不是数字，请重新输入！', {icon: 2, time:2000});
			v.val('');
		}
		if (val2){
			$(finding).iCheck("check");
		}else{
			$(finding).iCheck("uncheck");
		}
	};

$(function(){
    H_qqServer={};
    H_qqServer.clickOpenServer = function () {
        $('#open_side').click(function(){
            $('.btn-group-vertical').animate({
                right: '98'
            },800);
            $('#btntoshow').animate({
                right: '0',
                opacity: 'show'
            }, 400 );
        });
        $('#close_side').click(function(){
            $('.btn-group-vertical').animate({
                right: '0',
                opacity: 'show'
            },400);
            $('#btntoshow').animate({
                right: '30',
                opacity: 'show'
            }, 800 );
        });
    };
    H_qqServer.run= function () {
        this.clickOpenServer();
    };
    H_qqServer.run();
});
	
	</script>
	<div id="btntoshow" style="position:fixed; right:0px; bottom:120px;">
		<button style="position:inherit; bottom:83px; width:30px; opacity: 1;" id="open_side" class="btn btn-default btn-xs"><br><i class="fa fa-angle-double-left"><br><br>展<br><br>开</i><br><br></button>
	</div>
	  <div class="btn-group-vertical" style="position:fixed; right:98px; ">
		<button class="btn btn-success" type="button" style="position:inherit;  bottom:200px; width:100px; opacity: 1;" onClick="getall()">工时确认</button>
		<button class="btn btn-default" type="button" style=" position:inherit;  bottom:168px; width:100px; opacity: 1;" onClick="tg()"><i id="openclose" style="margin-right:3px;" class="fa fa-angle-double-down green"> </i>展开折叠</button>
		<button class="btn btn-default" type="button" style=" position:inherit;  bottom:136px; width:100px; opacity: 1;" onClick="hilight()"><i id="hilight" style="margin-right:3px;"> </i>只待确认</button>
		<button class="btn btn-default" type="button" style="position:inherit;  bottom:104px; width:100px; opacity: 1;" onClick="onlypbm()"><i id="onlypbm" style="margin-right:3px;"> </i>只待补充</button>
		<button style="position:inherit; bottom:83px; width: 100px; opacity: 1;" id="close_side" class="btn btn-default btn-xs"><i class="fa fa-angle-double-right"></i>&nbsp折叠</button>
	  </div>
{% endblock %}