<!DOCTYPE html>
<html>
    
    <head>
        <title>Forms</title>
        <!-- Bootstrap -->
        <link href="/static/smallparts/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/smallparts/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="/static/smallparts/assets/styles.css" rel="stylesheet" media="screen">
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="/static/smallparts/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="/static/smallparts/vendors/echarts.js"></script>
    </head>    
    <body>
        
        <div class="container-fluid">
            <div class="row-fluid">
                <!--/span-->
                <div class="span9" id="content">



                     <!-- validation -->
                    <div class="row-fluid">
                         <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">SFM调整记录</div>
                                {{date_list}}
                            </div>
                            <div class="block-content collapse in">
                                <div class="span12" id="main" style="height: 500px;">
					<!-- BEGIN FORM-->

					<!-- END FORM-->
				</div>
			    </div>
			</div>
                     	<!-- /block -->
		    </div>
                     <!-- /validation -->


                </div>
            </div>
            {% include 'smallparts/wi_form_footer.html' %}
        </div>
        <!--/.fluid-container-->
        <link href="/static/smallparts/vendors/datepicker.css" rel="stylesheet" media="screen">
        <link href="/static/smallparts/vendors/uniform.default.css" rel="stylesheet" media="screen">
        <link href="/static/smallparts/vendors/chosen.min.css" rel="stylesheet" media="screen">

        <link href="/static/smallparts/vendors/wysiwyg/bootstrap-wysihtml5.css" rel="stylesheet" media="screen">

        <script src="/static/smallparts/vendors/jquery-1.9.1.js"></script>
        <script src="/static/smallparts/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/smallparts/vendors/jquery.uniform.min.js"></script>
        <script src="/static/smallparts/vendors/chosen.jquery.min.js"></script>
        <script src="/static/smallparts/vendors/bootstrap-datepicker.js"></script>

        <script src="/static/smallparts/vendors/wysiwyg/wysihtml5-0.3.0.js"></script>
        <script src="/static/smallparts/vendors/wysiwyg/bootstrap-wysihtml5.js"></script>

        <script src="/static/smallparts/vendors/wizard/jquery.bootstrap.wizard.min.js"></script>

	<script type="text/javascript" src="/static/smallparts/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="/static/smallparts/assets/form-validation.js"></script>
        
	<script src="/static/smallparts/assets/scripts.js"></script>
        <script>

        jQuery(document).ready(function() {   
           FormValidation.init();
        });

        $(function() {
            $(".datepicker").datepicker(
                {
                    format: 'yyyy/mm/dd',
                    autoclose: true,
                }
                );
            $(".uniform_on").uniform();
            $(".chzn-select").chosen();
            $('.textarea').wysihtml5();

            $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
                var $total = navigation.find('li').length;
                var $current = index+1;
                var $percent = ($current/$total) * 100;
                $('#rootwizard').find('.bar').css({width:$percent+'%'});
                // If it's the last tab then hide the last button and show the finish instead
                if($current >= $total) {
                    $('#rootwizard').find('.pager .next').hide();
                    $('#rootwizard').find('.pager .finish').show();
                    $('#rootwizard').find('.pager .finish').removeClass('disabled');
                } else {
                    $('#rootwizard').find('.pager .next').show();
                    $('#rootwizard').find('.pager .finish').hide();
                }
            }});
            $('#rootwizard .finish').click(function() {
                alert('Finished!, Starting over!');
                $('#rootwizard').find("a[href*='tab1']").trigger('click');
            });
        });


        function Appendzero(obj)
        {
            if(obj<10) return "0" +""+ obj;
            else return obj;
        }

        $(document).ready(function(){
            d = new Date();
            year = d.getFullYear();
            month = d.getMonth()+1;
            day = d.getDate();
            date_string = year+'/'+Appendzero(month)+'/'+Appendzero(day)
            $('#date01').val(date_string);
        })

        $(document).ready(function(){
            $('#submit').click(function(){
                if(!$('date01')){
                    alert('必须填写日期');
                    return false;
                }
                $.ajax(
                    {
                        url: "{% url 'smallparts:get_pbm' %}",
                        type: 'post',
                        data:$('form').serialize(),
                        success: function(data){
                            alert(data);
                            window.location.reload();
                        }
                    }
                    );
            })
        })


            var myChart = echarts.init(document.getElementById('main'));
            option = {
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                title : {
                    text: 'SFM',
                    subtext: '计划调整次数'
                },
                legend: {
                    data:{{legends | safe}}
                },
                toolbox: {
                    show : true,
                    orient: 'vertical',
                    x: 'right',
                    y: 'center',
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                xAxis : [
                                        {
                                            type : 'category',
                                            data : {{dates | safe}}
                                        }
                                    ],
                dataZoom: [{
                          type: 'slider',
                          show: true,
                          xAxisIndex: [0],
                          left: '9%',
                          bottom: -5,
                          start: 60,
                          end: 100 //初始化滚动条
                      }],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                {% for sr in shift_reason %}

                    {
                        name:'{{sr}}',
                        type:'bar',
                        stack:'{{sr |GetList:0 }}',
                        data:{{ dic_reason |GetSfm:sr }},
                    },
                    {% endfor %}
                    {
                        name:'总计',
                        type:'line',
                        smooth: true,
                        symbolSize: 9,
                        itemStyle : { normal: {label : {show: true}}},
                        data:{{ dic_dates |GetSfmDates }},
                        markLine : {
                            itemStyle:{
                                normal:{
                                    lineStyle:{
                                        type: 'dashed'
                                    }
                                }
                            },
                            // data : [
                            //     [{type : 'min'}, {type : 'max'}]
                            // ]
                        }
                    },
                ]
            };
                    
            myChart.setOption(option);


        </script>
    </body>

</html>