{% extends 'valuehour/production/submit.html' %}
{% block title %}提交辅助外借工时{% endblock %}
{% block content %}
<div class="x_panel">
  <div class="x_content">
      <br />
      <form id="assistance_outprod" data-parsley-validate class="form-horizontal form-label-left">
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">日期</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="input_date" name="date" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">类别</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
		  <p style="margin-top:10px;">
			辅助工时:
			<input type="radio" class="flat" name="types" id="assistance" value='assistance' checked="" required /> &nbsp;&nbsp;&nbsp;&nbsp;
			生产外工时:
			<input type="radio" class="flat" name="types" id="extra" value='outproduction' />
		  </p>
          </div>
        </div>
        <div class="form-group">
          <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">科目</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
			  <select class="select2_group form-control" id="sub_types" name="category">
			  </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">标准工时</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="standard_hour" class="date-picker form-control col-md-7 col-xs-12" required="required" type="number" step = "0.1" name="standard" value=12  readonly="readonly">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">实际工时</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="machine_hour" class="date-picker form-control col-md-7 col-xs-12" required="required" type="number" step = "0.1" name="real_time">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">备注</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea id="message" required="required" class="form-control" name="comments" data-parsley-trigger="keyup" data-parsley-minlength="5" data-parsley-maxlength="100" data-parsley-minlength-message="至少输入5个文字"
                            data-parsley-validation-threshold="10"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">附件上传</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
			 <div class="input-group">
				<input type="file" class="form-control" name="attach">
				<span class="input-group-btn">
				<button type="button" class="btn btn-primary">Go!</button>
				</span>
			  </div>
          </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="margin-left:43%">
            <!--<button class="btn btn-primary" type="button">Cancel</button>
                <button class="btn btn-primary" type="reset">Reset</button>-->
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </div>
        {% csrf_token %}
      </form>
    </div>
  </div>
{% endblock %}
{% block js %}
    <!-- jQuery -->
    <script src="/static/valuehour/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/valuehour/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/valuehour/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/valuehour/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/static/valuehour/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/static/valuehour/vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/static/valuehour/vendors/moment/min/moment.min.js"></script>
    <script src="/static/valuehour/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="/static/valuehour/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="/static/valuehour/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="/static/valuehour/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="/static/valuehour/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="/static/valuehour/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="/static/valuehour/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="/static/valuehour/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="/static/valuehour/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="/static/valuehour/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="/static/valuehour/vendors/starrr/dist/starrr.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/static/valuehour/build/js/custom.min.js"></script>
	<script src="/static/valuehour/vendors/layer/layer.js"></script>
	<script>
	
		//获取url参数
	function getQueryVariable(variable)
	{
		   var query = window.location.search.substring(1);
		   var vars = query.split("&");
		   for (var i=0;i<vars.length;i++) {
				   var pair = vars[i].split("=");
				   if(pair[0] == variable){return pair[1];}
		   }
		   return('');
	}
	
	function get_types(){
	//type 的radio button切换
	_checkbox = $("[type='radio']").not("[disabled]");
	var activated_id;
	_checkbox.each(function () {
    // 判断是否选中
	   var delFlag = $(this).is(":checked");
	   if (delFlag) {
		   activated_id  = $(this).val();
	   }
	});
	//获取api数据	
	$.getJSON("/static/valuehour/production/api/assis_outprod_types.json", function(data){
		if (activated_id == 'assistance'){
			target = data.assistance;
		}else if(activated_id == 'outproduction'){
			target = data.outproduction;
		}
		select_string = "";
		$.each(target, function(i,v){
			select_string = select_string + '<option>'+v+'</option>';
		});
		$("#sub_types").html('<option value="">请选择</option>'+select_string);
	});			
	};
	
	$(':radio').on('ifChecked', function(event){
	  get_types();
	});	
	
	function makep(){
		window.parent.getmachine();
		var index = parent.layer.getFrameIndex(window.name);
		setTimeout(function(){
		  parent.layer.close(index);
		}, 1000);		
	}
	
	$(document).ready(function(){
	     get_types();
		//get date from url parameter
		$("#input_date").val(getQueryVariable("date"));
		$("#input_date").attr("readonly", "readonly");
		//validation before submit
		$("#assistance_outprod").submit(function(e){
			e.preventDefault();
			t = $(this).serializeArray();
			datas = {};
			$.each(t, function(){
				datas[this.name] = this.value;
			})
			var form = $(this);
			if (form.parsley( 'isValid' )){
				//ajax提交Form数据
				$.ajax({
						type:'post',
						url:"{% url 'valuehour:get_machine' %}",
						data:datas,
						//dataType:'text',
						error:function(response){
							alert('提交失败！');
						},
						success:function(response){
							if(response == 'success'){
								layer.msg('提交成功！', {icon: 1});
								alert("提交数据为："+JSON.stringify(datas));
								makep();
							}else{
								layer.msg('接收失败，错误代码:'+response, {icon: 2});
								makep();								
							}
						}
					});//end
			};
		});
	});
	</script>
{% endblock %}